html,
body {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  outline: none
}

.btn {
  height: 35px;
  border: 0;
  text-align: center;
  width: auto;
  background-color: #f4f4f4;
  border-radius: 2%;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
}

.flex-1 {
  flex: 1;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
